
volumes:
  postgres_volume:

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${HTTP_PORT}:8085"
    environment:
      - HTTP_HOST=
      - HTTP_PORT=8080
      - PG_DSN=host=pg port=5432 dbname=${PG_DATABASE_NAME} user=${PG_USER} password=${PG_PASSWORD} sslmode=disable
      - ACCESS_TOKEN=${ACCESS_TOKEN}
      - ACCESS_TOKEN_DURATION=${ACCESS_TOKEN_DURATION}
      - REFRESH_TOKEN_DURATION=${REFRESH_TOKEN_DURATION}
    volumes:
      - ./.env:/root/.env
      - ./config-cascade.yaml:/root/config-cascade.yaml
      - ./config-line.yaml:/root/config-line.yaml
      - ./config.yaml:/root/config.yaml
    depends_on:
      - pg


  pg:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: ${PG_DATABASE_NAME}
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
    ports:
      - "${PG_PORT}:5432"
    volumes:
      - postgres_volume:/var/lib/postgresql/data